---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>About Me</h1>
    <h2>..and my astro site!</h2>
    <p>My name is Alvaro Villamarin and i'm trying to become a web developer</p>
    <p>I love to practice with all new JavaScript tech's</p>
  </body>
</html>
