---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <BaseLayout>
      <Header title="My Astro Site" subtitle="Take a look at my posts!" />
      <!-- <nav>
        <a href="/posts/post-1">post 1</a>
        <a href="/posts/post-2">post 2</a>
        <a href="/posts/post-3">post 3</a>
      </nav> -->
      <Footer />
    </BaseLayout>
  </body>
</html>
